<div class="index">
  <h1>Login</h1>
  <div class="login-form">
    <%= form_for(:session, url: sessions_new_path) do |f| %>
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Enviar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>