<div class="index">
  <h1>Inscrever-se</h1>
  <div class="login-form">
    <%= form_for(:user, url: users_new_path) do |f| %>
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "Email" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Repita sua senha" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Enviar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>