<header class="navbar top-navbar">
  <div class="container">
    <%= link_to "Desafio Ruby on Rails", root_path, class: "header-link" %>
    <nav class="elements-to-right">
      <% if logged_in? %>
        <% if current_user.admin %>
          <%= link_to "Selecionar arquivo", root_path, class: "header-link" %>
        <% end %>
        <%= link_to "Log out", logout_path, class: "header-link" %>
      <% else %>
        <%= link_to "Log in", login_path, class: "header-link" %>
        <%= link_to "Inscrever-se", new_user_path, class: "header-link" %>
      <% end %>
    </nav>
  </div>
</header>